# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/

# VSCode settings (optional)
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Environment variables file
.venv


Immunization.jpg
Social Media on Teen Mental Health.jpg
covid-19-issues.jpg
covid-19.jpg
global-covid.jpg
heart-diseases.jpg
heart-health.jpg
heart-health2.jpg
isolation-mental-health.jpg
mental-health-journal.jpg
mental-health.jpg
naruto.png
sakura.jpg
task.txt
task1.txt